:root {
    --cardWidth: 700px;
    --cardHeight: 160px;
}

@font-face {
    font-family: 'IDF Voyager';
    src: url('../assets/fonts/idfm/IDFVoyageur-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'IDF Voyager';
    src: url('../assets/fonts/idfm/IDFVoyageur-Medium.ttf');
    font-weight: medium;
}

@font-face {
    font-family: 'IDF Voyager';
    src: url('../assets/fonts/idfm/IDFVoyageur-Regular.ttf');
    font-weight: normal;
}

html {
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'IDF Voyager';
    background-color: #292C33;
}


div#card {
    display: flex;
    width: var(--cardWidth);
    height: var(--cardHeight);
    align-items: center;
    gap: 50px;
    flex-shrink: 0;
    background-color: white;
}

.stop {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 70px; */
}

.line-color {
    min-height: var(--cardHeight);
    /* height: 100%; */
    width: 18px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 45%;
    /* transform: translateX(-200%); */
}

.station-color {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ffffff;
    transform: scale(5.0);
    border: solid 2px black;
}



.connection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    width: calc(var(--cardWidth) / 2);
}

.connect_transport {
    display: flex;
    gap: 5px;
    align-items: center;
}

.connected-line, .connected-symbol {
    width: 45px;
    height: 45px;
}

.connected-symbol {
    color: blue
}




.station-infos {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: calc(var(--cardWidth) / 2);
    border-radius: 10px;
    gap: 20px
}

.main-name {

    background-color: #172E7A;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 5px 15px 5px 15px;
    text-align: center;
    width: fit-content;
    /* white-space: pre; */
}

.sub-name {
    background-color: #643813;
    color: white;
    font-size: 0.7rem;
    font-weight: normal;
    padding: 2px 15px 2px 15px;
    text-align: center;
    width: min-content;
    white-space: pre;
}

.accessibility {
    width: 45px;
    height: 45px;
}